<div class="row image">
  <%= image_tag "/system/images/kuss.jpg", class: "hero-image" %>
</div>

<div class="row yellow-background background">
  <div class="col-md-8 col-md-offset-2 margin-top-5">
    <h1 class="tk-adelle text-center arced">Wir werden heiraten!</h1>
    <div class="text-center">
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    </div>
    <span class="tk-penna-connected large text-center text">Samstag, 10. Oktober 2015</span><br />
    <span class="tk-adelle normal text-center text">um<br />12:30 Uhr<br />in<br />Berlin-K&ouml;penick</span>
    <span class="tk-penna-connected large text-center text">Bitte scrollt nach unten f&uuml;r Eure Zusage.</span><br />
  </div>
</div>

<div class="row image">
  <%= image_tag "/system/images/haende.jpg", class: "hero-image" %>
</div>

<div class="row yellow-background background">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="tk-adelle text-left">Juliane & Holger</h2>

    <div class="col-md-12">
      <p class="tk-adelle small">Am 21. Juni 2007 lernten sich Juliane und Holger auf der Fête de la musique in Berlin kennen. Im Januar 2008 zogen sie bereits in ihre erste gemeinsame Wohnung. Es folgten harmonische Urlaube und viele schöne Momente. Am 10. März 2012 wurde die Frage von Holger an Juliane nach viel Lachen auch mit einem „Ja“ beantwortet.<br /><br />
      Bis zum 10. Oktober 2015 verbanden sie sowohl die Geburt ihrer wunderbaren Tochter Alba Lea, und der Umzug in eine neue Wohnung, als auch viele weitere besondere Momente.<br /><br />
      Der 10. Oktober 2015 wird ein weiterer erinnerungsreicher und wichtiger Tag in ihrem gemeinsamen Leben.</p>
    </div>
  </div>
</div>

<div class="row blue-background background small-bg">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="tk-adelle text-center">Eure Zusage</h2>

      <%= form_tag("/register_guests", remote: true, authenticity_token: false, class: "form", id: "register_for_wedding") do -%>
        <div class="input-group col-md-12">
          <span class="input-group-addon tk-adelle" id="basic-addon1">Name</span>
          <input type="text" class="form-control tk-adelle" placeholder="Eure Namen" aria-describedby="basic-addon1" name="guest[name]">
        </div>
        <div class="input-group">
          <span class="input-group-addon tk-adelle" id="basic-addon2">Anzahl G&auml;ste</span>
          <input type="number" class="form-control tk-adelle" placeholder="(insgesamt)" aria-describedby="basic-addon2" name="guest[number]">
        </div>
        <div class="input-group">
          <%= submit_tag 'Gebt uns Bescheid', class: "form-control tk-adelle" %>
        </div>
      <% end -%>

  </div>
</div>

<div class="row image">
  <%= image_tag "/system/images/zusammen.jpg", class: "hero-image" %>
</div>

<div class="row blue-background background">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="tk-adelle text-left">Locations</h2>

    <iframe width="728" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=13.568458557128906%2C52.442624411029634%2C13.57961654663086%2C52.448359461516596&amp;layer=mapnik&amp;marker=52.445492029604175%2C13.574037551879883" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=52.44549&amp;mlon=13.57404#map=17/52.44549/13.57404">View Larger Map</a></small>
  </div>
</div>
